<!--
If you want to include any custom html just before </body>, put it in this file.
Or you can delete these file if you don't need it.
-->
<!-- for example, you could include some js libraries:
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js" integrity="sha256-HdIuWBZj4eftihsoDCJoMYjZi6aNVaw7YlUpzKT3ZxI=" crossorigin="anonymous"></script>
-->
  <script>
class CrossSiteConsent {
    constructor(cspId, cspWebsites) {
        this.cspId = cspId;
        this.cspWebsites = cspWebsites;
        this.cspExpDays = 182;
        this.iframeLoaded = false;
        this.iframeId = 'onetrustCrossSiteConsent';
        this.iframeDomain = 'https://idyllic-kulfi-7c87be.netlify.app';
        this.consentsList = {
            C0001: ['necessary', 'cookie_consent_necessary_bool'],
            C0003: ['personalization', 'cookie_consent_personalization_bool'],
            C0002: ['statistical', 'cookie_consent_statistical_bool'],
            C0004: ['marketing', 'cookie_consent_marketing_bool'],
            BG32: ['social', 'cookie_consent_social_bool'],
        };
        this.cspConsentNameWithId = ''.concat('cookieconsent', '_', this.cspId);
        this.timestamp = new Date().getTime();
        this.expDatetime = this.timestamp + (86400000 * this.cspExpDays);
        this.consentId = this.generateUUID(20);
        this.host = document.location.host;
        this.origin = document.location.origin;
        this.pathname = document.location.pathname;
        this.pagePath = ''.concat(this.origin, this.pathname);
        this.iframeUrl = ''.concat(this.iframeDomain, '?referrer=', this.pagePath, '&cspid=', this.cspId, '&cspwebsites=', this.cspWebsites);
        this.iframeInserted = false;
        this.disableOnConsentChanged = false;
        this.tealium_session_id = window?.utag?.data?.tealium_session_id || '';
        this.tealium_visitor_id = window?.utag?.data?.tealium_visitor_id || '';
        this.tealium_account = 'tryg';
        this.tealium_profile = 'tryg-dk-web';
        this.tealium_datasource = '2rzdvb';
    }

    /**
     * Get the cookie consent set in the parent window
     * @returns {(Object|null)} object with consents or null value if consent object is invalid or has not been set
     */
    getLocalConsent() {
        try {
            let consent = JSON.parse(this.getCookie(this.cspConsentNameWithId));
            if (consent.expDatetime <= this.timestamp) {
                consent = null;
            } else if (consent.cspWebsites.includes(this.host) === false) {
                consent = null;
            }
            return consent;
        } catch (err) {
            return null;
        }
    }

    /**
     * Set cookie consent in parent and child window, send event to kafka, and call utag.view with new consents.
     * @returns {undefined} returns undefiend
     */
    setNewConsent() {
        const onetrustActiveGroups = window?.OnetrustActiveGroups?.split(',') || [];
        const consentsApproved = [];
        const consentsDenied = [];

        Object.entries(this.consentsList).forEach((el) => {
            if (onetrustActiveGroups.includes(el[0]) === true) {
                consentsApproved.push(el[1][0]);
            } else {
                consentsDenied.push(el[1][0]);
            }
        });

        const consents = {
            cspId: this.cspId,
            cspWebsites: this.cspWebsites,
            cspExpDays: this.cspExpDays,
            timestamp: this.timestamp,
            expDatetime: this.expDatetime,
            consentsApproved,
            consentsDenied,
            consentId: this.consentId,
            consentDomain: this.origin,
            consentURL: this.pagePath,
            tealium_session_id: this.tealium_session_id,
        };

        this.setCookie(JSON.stringify(consents), this.expDatetime);
        this.messageEventSend('set consent', consents);
        this.kafkaSendConsent(consents, 'set consent');
        this.dataLayerSendConsent();
    }

    /**
     * Updates the OneTrust Consents object, sets cookie consent in parent window, send event to Kafka, and call utag.view with new consents.
     * The functions called in OnConsentChanged callback function is disabled because the Updateconsent methods initiates the callback function
     * @param {Object} consents object from child window
     * @returns {undefined} returns undefined
     */
    setCrossSiteConsent(consents = {}) {
        this.disableOnConsentChanged = true;

        Object.entries(this.consentsList).forEach((el) => {
            if (consents.consentsApproved.includes(el[1][0]) === true) {
                window?.OneTrust?.UpdateConsent('Category', ''.concat(el[0], ':1'));
            } else {
                window?.OneTrust?.UpdateConsent('Category', ''.concat(el[0], ':0'));
            }
        });

        const expDatetime = consents?.expDatetime;
        this.setCookie(JSON.stringify(consents), expDatetime);
        this.kafkaSendConsent(consents, 'cross-site consent');
        this.dataLayerSendConsent();

        setTimeout(() => {
            this.disableOnConsentChanged = false;
        }, 1000);
    }

    /**
     * Deletes the consent in parent and child windows, and rejects all consents in OneTrust Consents Object
     * @returns {undefined} returns undefined
     */
    deleteConsent() {
        window.OneTrust.RejectAll();
        this.setCookie(this.cspConsentNameWithId, -1);
        this.messageEventSend('delete consent');
    }

    /**
     * Validate the object param value types in the consents objects
     * @param {object} consents Consents object
     * @returns ({object|null}) object with consents or null value if consent object is invalid
     */
    validateConsent(consents = {}) {
        try {
            if (['cspWebsites', 'consentsApproved', 'consentsDenied'].every((el) => Array.isArray(consents[el])) === false) {
                consents = null;
            } else if (['cspExpDays', 'timestamp', 'expDatetime'].every((el) => Number.isInteger(consents[el])) === false) {
                consents = null;
            } else if (['cspId', 'consentId', 'consentDomain', 'consentURL', 'tealium_session_id'].every((el) => typeof (consents[el]) === 'string') === false) {
                consents = null;
            }
        } catch (err) {
            consents = null;
        }
        return consents;
    }

    /**
     * Get consent cookie in parent window
     * @returns cookie value or empty string if cookie does not exist
     */
    getCookie() {
        const name = ''.concat(this.cspConsentNameWithId, '=');
        const decodedCookie = decodeURIComponent(document.cookie);
        const ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i += 1) {
            let c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) === 0) {
                return c.substring(name.length, c.length);
            }
        }
        return '';
    }

    /**
     * Set cookie in parent window
     * @param {string} cvalue
     * @param {number} expDatetime Lifetime of cookie
     */
    setCookie(cvalue, expDatetime) {
        const d = new Date();
        d.setTime(expDatetime);
        const expires = ''.concat('expires=', d.toUTCString());
        document.cookie = ''.concat(this.cspConsentNameWithId, '=', cvalue, ';', expires, ';path=/;SameSite=None;Secure');
    }

    /**
     * Generate unique consent ID
     * @param {number} length Length of ID
     * @returns {string} Unique consent ID
     */
    generateUUID(length) {
        const chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!';
        let result = '';
        for (let i = 0; i < length; i += 1) {
            result += chars.charAt(Math.floor(Math.random() * chars.length));
        }
        result = ''.concat(result, '-', this.timestamp);
        return result;
    }

    /**
     * Communicate to child window with postMessage
     * @param {string} m Message to child window
     * @param {object} c Consents object
     * @returns {undefined} returns undefined
     */
    messageEventSend(m, c = {}) {
        const messageObj = { message: m, consents: c };
        const iframeElement = document.getElementById(this.iframeId);
        if (iframeElement !== null) {
            iframeElement.contentWindow.postMessage(messageObj, this.iframeDomain);
        }
    }

    /**
     * Listen to postMessage messages from child window if message comes from expected origin.
     * If the child window returns a valid consent object, the consent is set in parent window.
     * If the returned consent object is not valid, a new consent is requests
     * If the child window cannot return a consent object, a new consent is requested
     * @returns {undefined} returns undefined
     */
    messageObserve() {
        if (this.iframeInserted === false) {
            window.addEventListener('message', (event) => {
                if (event.origin === this.iframeDomain) {
                    this.iframeLoaded = true;

                    if (event.data.message === 'load') {
                        if (event.data.status === 'return consents') {
                            // console.log('return consents');
                            const consents = this.validateConsent(event.data.consents);
                            if (consents !== null) {
                                this.setCrossSiteConsent(consents);
                            } else {
                                this.utilityOnetrustToggle();
                                // console.log('invalid consent');
                            }
                        } else if (event.data.status === 'no consents') {
                            // console.log('no consents');
                            this.utilityOnetrustToggle();
                        } else if (event.data.status === 'invalid URL params') {
                            // console.log('invalid URL params');
                        }
                    }
                }
            });

            setTimeout(() => {
                if (this.iframeLoaded === false) {
                    // console.log('consents iframe has not responded within two seconds');
                    this.utilityOnetrustToggle();
                }
            }, 2000);
        }
    }

    /**
     * Inserts child window iframe
     * @returns {undefined} returns undefined
     */
    insertIframe() {
        if (this.iframeInserted === false && this.iframeDomain !== '') {
            const iframe = document.createElement('iframe');
            iframe.setAttribute('id', this.iframeId);
            iframe.setAttribute('src', this.iframeUrl);
            iframe.setAttribute('style', 'display:none !important;');
            document.body.appendChild(iframe);

            this.iframeInserted = true;
        }
    }

    /**
     * Inserts OneTrust, calls messageObserve() and insertIframe(), styles the OneTrust overlay, and calls OnConsentChanged callback function
     * If the child window does not return a message within two seconds of inserting the iframe, the method utilityOnetrustToggle() is called
     * @returns {undefined} returns undefined
     */
    insertOneTrust() {
        const u = {};
        u.data = {
            base_url: 'https://cdn.cookielaw.org/consent/ea1a40ca-a25d-43c5-b96a-fc66e962adac-test/otSDKStub.js',
            data_domain_script: 'ea1a40ca-a25d-43c5-b96a-fc66e962adac-test',
            custom_svg: '',
        };

        if (!window.OneTrust && typeof (u.data.base_url) === 'string' && u.data.base_url !== '' && typeof (u.data.data_domain_script) === 'string' && u.data.data_domain_script !== '') {
            (() => {
                const d = document.createElement('script');
                d.src = u.data.base_url;
                d.setAttribute('data-domain-script', u.data.data_domain_script);
                d.type = 'text/javascript';
                d.async = true;
                const a = document.getElementsByTagName('script')[0];
                a.parentNode.insertBefore(d, a);
            })();

            window.OptanonWrapper = () => {
                this.messageObserve();
                this.insertIframe();

                

                /* Style OneTrust - Start */
                function otInsertBrandImage(imagePath, imageType) {
                    const otPcLogo = document.querySelectorAll('#onetrust-pc-sdk .ot-pc-logo');
                    if (imagePath && imageType === 'svg' && otPcLogo.length > 0) {
                        otPcLogo[0].role = imageType;
                        otPcLogo[0].innerHTML = imagePath;
                    }
                }
                function r() {
                    const updateButton = document.querySelectorAll('#onetrust-pc-sdk .save-preference-btn-handler');
                    const checkboxes = document.querySelectorAll("#onetrust-pc-sdk input[type='checkbox'].category-switch-handler");
                    let checkboxesLength = checkboxes.length;

                    for (let i = 0; i <= checkboxes.length - 1; i += 1) {
                        if (checkboxes[i].checked === true) {
                            checkboxesLength -= 1;
                        }
                    }

                    if (checkboxesLength === 0 || checkboxesLength === checkboxes.length) {
                        updateButton[0].setAttribute('style', 'display: none !important;');
                    } else {
                        updateButton[0].setAttribute('style', 'display: inline-block !important;');
                    }
                }

                function e() {
                    const allowAllCookiesBtn = document.querySelectorAll('#onetrust-pc-sdk #accept-recommended-btn-handler');
                    const btnContainer = document.querySelectorAll('#onetrust-pc-sdk .ot-btn-container');
                    if (allowAllCookiesBtn.length > 0 && btnContainer.length > 0) {
                        btnContainer[0].append(allowAllCookiesBtn[0]);
                    }

                    const otPcLogo = document.querySelectorAll('#onetrust-pc-sdk .ot-pc-logo');
                    if (u.data.custom_svg !== '' && otPcLogo.length > 0) {
                        otInsertBrandImage(u.data.custom_svg, 'svg');
                    }

                    /* Hide Allow selection */
                    r();

                    // add event listeners
                    const otCatGrpInput = document.querySelectorAll('#onetrust-pc-sdk .ot-cat-grp input.category-switch-handler');
                    if (otCatGrpInput.length > 0) {
                        for (let i = 0; i <= otCatGrpInput.length - 1; i += 1) {
                            otCatGrpInput[i].addEventListener('click', r, false);
                        }
                    }
                    /* Hide Allow selection END */
                }
                e();
                /* Style OneTrust - END */

                window?.OneTrust?.OnConsentChanged(() => {
                    const that = this;
                    if (that.disableOnConsentChanged === false) {
                        this.setNewConsent();
                    }
                });
            };
        }
    }

    /**
     * A new consent is requested if the local consent cookie is not from the current visit
     * If the local consent cookie is from the current visit do nothing
     * @returns {undefined} returns undefined
     */
    utilityOnetrustToggle() {
        const consent = this.getLocalConsent();
        if (consent?.tealium_session_id !== '' && this.tealium_session_id !== '' && consent?.tealium_session_id === this.tealium_session_id) {
            // console.log('utilityOnetrustToggle: current');
        } else {
            window?.OneTrust?.ToggleInfoDisplay();
            // console.log('utilityOnetrustToggle: new');
        }
    }

    /**
     * Send new consent to kafka topic
     * @param {object} consents Consents Object
     * @param {string} consentType Value that indicates where the consent came from. Values are typically 'set consent' or 'cross-site consent'
     * @returns {undefined} returns undefined
     */
    kafkaSendConsent(consents = {}, consentType = '') {
        if (this.tealium_account !== '' && this.tealium_profile !== '' && this.tealium_datasource !== '') {
            const te = JSON.stringify({
                tealium_account: this.tealium_account,
                tealium_profile: this.tealium_profile,
                tealium_datasource: this.tealium_datasource,
                tealium_event: 'set_consent',
                consent_event: consentType,
                tealium_visitor_id: this.tealium_visitor_id,
                tealium_session_id: this.tealium_session_id,
                consents,
            });

            const xhr = new XMLHttpRequest();
            xhr.open('POST', 'https://collect.tealiumiq.com/event');
            xhr.send(te);
        }
    }

    /**
     * Call utag.view function with new consents
     * @returns {undefined} returns undefined
     */
    dataLayerSendConsent() {
        const onetrustActiveGroups = window?.OnetrustActiveGroups?.split(',') || [];
        const consentsApproved = [];
        const consentsDenied = [];
        const b = window?.utag?.data || {}; // remove

        // Identity consent events. Is used to trigger tags on cookie consent events
        if (Array.isArray(b.custom_event) === true) {
            if (b.custom_event.includes('cookie_consent_given') === false) {
                b.custom_event.push('cookie_consent_given');
            }
        } else {
            b.custom_event = ['cookie_consent_given'];
        }

        Object.entries(this.consentsList).forEach((el) => {
            if (onetrustActiveGroups.includes(el[0]) === true) {
                consentsApproved.push(el[1][0]);
                b[el[1][1]] = true;
            } else {
                consentsDenied.push(el[1][0]);
                b[el[1][1]] = false;
            }
        });

        b.cookie_consents_approved = consentsApproved;
        window?.utag?.view(b, false);
    }

    /**
     * Inserts OneTrust if cspWebsites includes the domain of the parent window
     * @returns {undefined} returns undefined
     */
    main() {
        if (this.cspWebsites.includes(this.host) === true) {
            this.insertOneTrust();
        }
    }
}

const crossSiteConsent = new CrossSiteConsent('123123', ['sbackp.com', 'sbackp.dk', 'tryg.dk']);
crossSiteConsent.main();


  </script>
