<!--
If you want to include any custom html just before </body>, put it in this file.
Or you can delete these file if you don't need it.
-->
<!-- for example, you could include some js libraries:
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js" integrity="sha256-HdIuWBZj4eftihsoDCJoMYjZi6aNVaw7YlUpzKT3ZxI=" crossorigin="anonymous"></script>
-->

  <form>
    <button id="updateDeclineAll">updateDeclineAll</button>
    <button id="updateAcceptAll">updateAcceptAll</button>
    <button id="updateSelected">updateSelected</button>
  </form>

  <script>

class CookieConsentParent {
    constructor() {
        this.iframeUrl = 'https://idyllic-kulfi-7c87be.netlify.app';
        this.iframeId = 'cookieConsentIframe';
    }

    run_program() {
        this.messageEventListener();
        this.messageEventSend('test connection');
    }


    messageEventListener() {
        window.addEventListener('message', (event) => {
            if (event.origin === this.consentUrl) {
                if (event.data.message === 'test conection') {
                    console.log('received test message');
                } else {
                    console.log('received different message');
                }
            }
            
        });
    }

    messageEventSend(message) {
        window.parent.postMessage(message, this.consentUrl);
    }

    insertIframe() {
        const iframe = document.createElement('iframe');
        iframe.id = this.iframeId;
        iframe.src = this.iframeURL;
        iframe.setAttribute('style', 'display:none !important;');
        document.body.appendChild(iframe);
    }
}


const ConsentParentInstance = new CookieConsentParent();
ConsentParentInstance.run_program();

  </script>
