<!--
If you want to include any custom html just before </body>, put it in this file.
Or you can delete these file if you don't need it.
-->
<!-- for example, you could include some js libraries:
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js" integrity="sha256-HdIuWBZj4eftihsoDCJoMYjZi6aNVaw7YlUpzKT3ZxI=" crossorigin="anonymous"></script>
-->

  <form>
    <button id="updateDeclineAll">updateDeclineAll</button>
    <button id="updateAcceptAll">updateAcceptAll</button>
    <button id="updateSelected">updateSelected</button>
  </form>

  <script>

  class CookieConsentParent {
    constructor() {
        this.iframeId = 'cookieConsentIframe';
        this.iframePagePath = 'https://idyllic-kulfi-7c87be.netlify.app/';
        this.referrer = document.location.href;
        this.iframeUrl = ''.concat(this.iframePagePath,'?referrer=',this.referrer);        
    }

    run_program() {
        this.insertIframe();
        this.messageEventSend('test');
    }


    messageEventListener() {
        window.addEventListener('message', (event) => {
            if (event.origin === this.consentUrl) {
                if (event.data.message === 'test conection') {
                    console.log('received test message');
                } else {
                    console.log('received different message');
                }
            }
            
        });
    }

    messageEventSend(m) {
        const iframe = document.getElementById(this.iframeId);
        iframe.contentWindow.postMessage(m, this.iframePagePath);
    }

    insertIframe() {
        const iframe = document.createElement('iframe');
        iframe.id = this.iframeId;
        iframe.src = this.iframePagePath;
        iframe.setAttribute('style', 'display:none !important;');
        document.body.appendChild(iframe);
    }
}

const ConsentParentInstance = new CookieConsentParent();
ConsentParentInstance.run_program();
    
  </script>
