<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="https://schema.org/WebPage">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <script type="text/javascript">
var utag_data = {
  onetrust_base_url : 'https://cdn.cookielaw.org/consent/ea1a40ca-a25d-43c5-b96a-fc66e962adac-test/otSDKStub.js', // OneTrust Cookie Consent
  onetrust_data_domain_script : "ea1a40ca-a25d-43c5-b96a-fc66e962adac-test", // OneTrust Cookie Consent
  onetrust_custom_svg : "", // OneTrust Cookie Consent
}
</script>

<!-- Loading script asynchronously -->
<script type="text/javascript">
    (function(a,b,c,d){
    a='https://tags.tiqcdn.com/utag/tryg/onetrust-cookie-consent/dev/utag.js';
    b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
    a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
</script>
    {{ partial "nav.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ block "footer" . }}{{ end }}
  </body>
</html>

